.slider {
  padding-top: 7.37em;
  & .slick-dots {
    display: flex;
    justify-content: center;
    & li {
      margin-right: 1em;
      &.slick-active button{
        background-color: #cecece;
      }
      & button {
        outline: none;
        font-size: 0;
        width: 12px;
        height: 12px;
        background-color: #f7f7f7;
        border-radius: 50%;
        border: 1px solid #cecece;

      }
    }
  }
}
.slider-wrapper {
  background: #f7f7f7;
  padding-bottom: 3em;
}

.slider-content {
  margin: 0 auto;
  text-align: center;
  width: 70%;

  &__icon {
    display: inline-block;
    margin: 0 auto;
    width: 3.25em;
  }

  &__title {
    margin: 2.11em 0 1.39em 0;
    line-height: 1.2;
    color: rgb(53, 55, 56);
    font-weight: bold;
    font-size: 1.125rem;

    & span {
      color: #a3a5a6;
      font-weight: normal;
    }
  }

  &__text {
    font-style: italic;
    font-size: 1.5rem;
    color: rgb(132, 135, 137);
    line-height: 1.417;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1em;
  }


}
